.content-header>.breadcrumb {
	position: inherit;
	float: none;
	top: auto;
	right: auto;
}
select{
	width:100%;
	height:34px;
	padding:6px 12px;
	font-size:14px;	
}

.project input[type="checkbox"] + label::before {
    content: "\a0";  /*不换行空格*/
    display: inline-block;
    vertical-align: .2em;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: .2em;
    background-color: silver;
    text-indent: .15em;
    line-height: 15px;  /*行高不加单位，子元素将继承数字乘以自身字体尺寸而非父元素行高*/
   color:#fff;
}
.project input[type="checkbox"]:checked + label::before {
    content: "\2713";
    background-color: #3C8DBC;
}
.project input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.project input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 .1em .1em #58a;
}
.project input[type="checkbox"]:disabled + label::before {
    background-color: gray;
    box-shadow: none;
    color: #555;
}